h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

img {
  max-width: 250px;
  max-height: 250px;
}

media-body {
  /*text-overflow: ellipsis;*/
  white-space: nowrap;
}

#homepage_image {
  max-width: 100%;
  max-height: inherit;
}

#butts {
    border-radius:3px;
    margin-bottom: 3px;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing(border-box);
}

input {
  height: auto !important;
}
